<!DOCTYPE html>

      <section class="todoapp">
        <header class="header">
          <h1>Login!</h1>
            <%= form_tag(sessions_path) do %>
              <%= text_field_tag :email, '', :class => "new-todo", :placeholder => "enter your email" %>
              <%= text_field_tag :password, '', :class => "new-todo", :placeholder => "enter your password" %>
              <%= submit_tag "Sign in!", :class => "button" %>
            <% end %>

            <p><%= link_to "Login with GitHub", "/auth/github" %></p>
        </header>

        <footer class="footer">

        </footer>
      </section>
