<!-- <section class="todoapp"> -->

  <header class="header">
    <h1>projects</h1>
      <%= form_for(@project) do |f| %>
        <%= f.text_field :name, :class => "new-todo", :placeholder => (@project.errors.full_messages_for(:name).first || "add a project") %>
        <%= f.submit :style => "display: none" %>
      <% end %>
  </header>

<section class="main">
  <ul class="todo-list">
    <% @projects.each do |project| %>
    <li class = "<%= "completed" if project.complete? %>">
      <div class="view">
        <%= form_for([project]) do |f| %>
          <%= f.check_box :status, :class => "toggle", :checked => (true if project.complete?) %>
        <% end %>
        <input class = "toggle" type="checkbox" <%= "checked='checked'" if project.complete? %>>
        <label><%= link_to project.name, project_path(project) %> <%= link_to("delete", project_path(project), :method => "delete") if project.id %></label>

          <!-- :remote => true = when someone clicks this clink, rails fires ajax request, requesting more js -->
          <!-- <p>
            <#%= link_to "Load Issues", project_issues_path(project), :class => "load_issues", :remote => true %>
          </p> -->

          <!-- hook json.items[0].project.id -->
          <!-- <div class="issues">
            <ol>
            </ol>
          </div> -->

      </div>
    </li>
    <% end %>
  </ul>
</section>

  <footer class="footer">
    <span class="todo-count">
    <strong><%= @projects.length %></strong>
    <span> </span>
    <span>project(s)</span>
    <span> active</span>
    </span>
    <ul class="filters">
      <li><a href="#/" class="selected">All</a></li>
        <span> </span>
      <li><a href="#/active" class="">Active</a></li>
        <span> </span>
      <li><a href="#/archived" class="">Archived</a></li>
    </ul>
  </footer>
</section>

  <footer class="info">
    <p>You're logged in as: <%= current_user %></p>
    <p><%= link_to "Logout!", logout_path %>
  </footer>
