<!DOCTYPE html>
<section class="todoapp">
  <header class="header">
    <h1>projects</h1>
      <%= form_for(@project) do |f| %>
        <%= f.text_field :name, :class => "new-todo", :placeholder => (@project.errors.full_messages_for(:name).first || "add a project") %>
      <% end %>
  </header>
<section class="main">
  <!-- <input id="toggle-all" class="toggle-all" type="checkbox"> -->
  <!-- <label for="toggle-all"></label> -->
  <ul class="todo-list">
    <%= render :collection => @projects, :partial => "projects/project_li", :as => :project %>
  </ul>
</section>
<footer class="footer">
  <span class="todo-count">
  <strong><%= @projects.length %></strong>
  <span> </span>
  <span>project(s)</span>
  <span> active</span>
  </span>
  <ul class="filters">
    <li><a href="#/" class="selected">All</a></li>
      <span> </span>
    <li><a href="#/active" class="">Active</a></li>
      <span> </span>
    <li><a href="#/archived" class="">Archived</a></li>
  </ul>
</footer>
</section>
  <footer class="info">
    <p>You're logged in as: <%= current_user.email %></p>
    <p><%= link_to "Logout!", logout_path %>
  </footer>
