<!-- <section class="todoapp"> -->

  <!-- <header class="header"> -->

    <h1>projects</h1>
      <%= form_for((@project), :html => {:class => "new_todo"}) do |f| %>
        <%= f.text_field :name, :class => "new-todo", :placeholder => (@project.errors.full_messages_for(:name).first || "add a project") %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit :style => "display: none" %>
      <% end %>

  <!-- </header> -->

  <!-- <div class="projects">
      <#%= render 'projects/projects' %>
  </div> -->

  <section class="main">
      <input class="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
        <ul class="todo-list">
          <%= render :collection => @projects, :partial => "projects/project", :as => :project %>
        </ul>
  </section>

  <!-- <section>
    <footer class="footer">
    </footer>
  </section> -->

  <footer class="footer">
    <span class="todo-count">
    <strong><%= @projects.length %></strong>
    <span> </span>
    <span>project(s)</span>
    <span> active</span>
    </span>
    <ul class="filters">
      <li><a href="#/" class="selected">All</a></li>
        <span> </span>
      <li><a href="#/active" class="">Active</a></li>
        <span> </span>
      <li><a href="#/archived" class="">Archived</a></li>
    </ul>
  </footer>
</section>

  <footer class="info">
    <p>You're logged in as: <%= current_user.email %></p>
    <p><%= link_to "Logout!", logout_path %>
  </footer>
