<!-- <section class="todoapp"> -->

  <!-- <header class="header"> -->

    <h1>projects</h1>
      <%= form_for((@project), :html => {:class => "new_todo"}) do |f| %>
        <%= f.text_field :name, :class => "new-todo", :placeholder => (@project.errors.full_messages_for(:name).first || "add a project") %>
        
        <%= f.submit :style => "display: none" %>
      <% end %>

  <!-- </header> -->

  <!-- <div class="projects">
      <#%= render 'projects/projects' %>
  </div> -->

  <section class="main">
      <input class="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">
        <%= render :collection => @projects, :partial => "projects/project", :as => :project %>
      </ul>
    </section>
    <footer class="footer">
    </footer>
  </section>

  <script id="project-template" type="text/x-handlebars-template">
    <li class="project" id="project_{{id}}">
      <div class="view">
        <form class="edit_project" id="edit_project_{{id}}" action="/projects/{{id}}" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓">
          <input type="hidden" name="_method" value="patch">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input name="project[status]" type="hidden" value="0"><input class="toggle" type="checkbox" value="1" name="project[status]" id="project_status"></form>

        <label>{{description}}</label>

        <form class="button_to" method="post" action="/projects/{{id}}">
          <input type="hidden" name="_method" value="delete">
          <input class="destroy" type="submit" value="x">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        </form>
      </div>
    </li>
  </script>

  <footer class="footer">
    <span class="todo-count">
    <strong><%= @projects.length %></strong>
    <span> </span>
    <span>project(s)</span>
    <span> active</span>
    </span>
    <ul class="filters">
      <li><a href="#/" class="selected">All</a></li>
        <span> </span>
      <li><a href="#/active" class="">Active</a></li>
        <span> </span>
      <li><a href="#/archived" class="">Archived</a></li>
    </ul>
  </footer>
</section>

  <footer class="info">
    <p>You're logged in as: <%= current_user.email %></p>
    <p><%= link_to "Logout!", logout_path %>
  </footer>
