<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section class="todoapp">
        <header class="header">
          <h1>issues</h1>
          <h3><%= @project.name %></h3>
          <%= form_for([@project, @issue]) do |f| %>
            <%= f.text_field :description, :class => "new-todo", :placeholder => (@issue.errors.full_messages_for(:description).first || "add an issue") %>
          <% end %>
        </header>
        <section class="main">
          <input class="toggle-all" type="checkbox">
          <label for="toggle-all"></label>
          <ul class="todo-list">
            <% @project.issues.each do |issue| %>
              <li class="<%= "completed" if issue.complete? %>">
                <div class="view">
                  <%= form_for([@project, issue]) do |f| %>
                    <%= f.check_box :status, :class => "toggle", :checked => (true if issue.complete?) %>
                  <% end %>
                  <label><%= issue.description %></label>
                </div>
              </li>
            <% end %>
          </ul>
        </section>
          <footer class="footer">
            <span class="todo-count">
              <!-- make the count work -->
              <strong>1</strong>
              <span> </span>
              <span>issue(s)</span>
              <span> active</span>
            </span>
            <ul class="filters">
              <li><a href="#/" class="selected">All</a></li>
              <span> </span>
              <li><a href="#/active" class="">Active</a></li>
              <span> </span>
              <li><a href="#/archived" class="">Archived</a></li>
            </ul>
          </footer>
      </section>
  </body>
</html>
