<h1>issues</h1>
    <%= form_for([@project, @issue]) do |f| %>
      <%= f.text_field :description, :class => "new-todo", :placeholder => (@issue.errors.full_messages_for(:description).first || "add an issue") %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit :style => "display: none" %>
    <% end %>
</header>

  <input class = "toggle-all" type="checkbox">
  <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <% @project.issues.each do |issue| %>
      <li class = "<%= "completed" if issue.complete? %>">
        <div class="view">
          <%= form_for([issue.project, issue]) do |f| %>

            <%= f.submit issue.status == 1 ? "complete" : "incomplete" %>
          <% end %>

          <label><%= issue.description %></label>
            <%= link_to("delete", project_issue_path(issue.project, issue), :method => "delete") if issue.id %>
        </div>
      </li>
      <% end %>
    </ul>
