<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Issues | Flatiron Rails/JS Project</title>
</head>
<body>

  <section>
    <header>
      <div class="">
        <h1>issues for project #<span id="project-id"><%=@project.id%></span>:</h1>
        <h2><%= "#{@project.name}" %></h2>
          <!-- Rails looks at @issue and assigns id="new_issue" to form (see issues.js) -->
            <%= form_for([@project, @issue], :html => {:class => "new_todo"}) do |f| %>
              <%= f.text_field :description, :class => "new-todo", :placeholder => (@issue.errors.full_messages_for(:description).first || "add an issue") %>
              <%= f.hidden_field :user_id, :value => current_user.id %>

              <%= f.submit :style => "display: none" %>
            <% end %>
      </div>
    </header>
  </section>

  <!-- <section class="main">
  <input class="toggle-all" type="checkbox">
  <label for="toggle-all">Mark all as complete</label>
  <ul class="todo-list">
    <#%= render :collection => @project.issues, :partial => "issues/issue", :as => :issue %>
  </ul>
  </section> -->

  <section class="main">
    <div class="view">
      <ul class="todo-list">
        <li>
          <div class="view">
            <label></label>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <p><%= link_to "Back to Projects List", projects_path %></p>


  <script id="issue-template" type="text/x-handlebars-template">
    <section class="main">
      <ul class="todo-list">
        <li class="issue" id="issue_{{id}}">
          <div class="view">
            <label>{{description}}</label>
          </div>
        </li>
      </ul>
    </section>
  </script>

  <section>
    <footer class="footer">
      <span class="todo-count">
        <strong><%= @project.issues.length %></strong>
        <span> </span>
        <span>issue(s)</span>
        <span> active</span>
      </span>
      <ul class="filters">
        <li><a href="#/" class="selected">All</a></li>
          <span> </span>
        <li><a href="#/active" class="">Active</a></li>
          <span> </span>
        <li><a href="#/archived" class="">Archived</a></li>
      </ul>
    </footer>
  </section>

  <section>
    <footer class="info">
      <p>Current project: <strong><%= @project.name %></strong></p>
      <p>You're logged in as: <%= current_user.email %></p>
      <p><%= link_to "Logout!", logout_path %>
    </footer>
  </section>

</body>
</html>
